{% include 'base.html.twig' %}


{% block body %}
    <h1 class="mt-2 mb-2 d-flex justify-content-center">Excuse</h1>
 
    <table class="table table-bordered"> 
        <tbody>
            <tr> 
                <th>Id</th>
                <td>{{ excuse.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ excuse.Nom }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ excuse.Message }}</td>
            </tr>
        </tbody>
    </table>

    <a class="ms-2 btn btn-secondary" href="{{ path('app_excuse_index') }}">Retour</a>

    <a class="ms-2 btn btn-warning" href="{{ path('app_excuse_edit', {'id': excuse.id}) }}">Modifier</a>

    {{ include('excuse/_delete_form.html.twig') }}
{% endblock %}
